#formGroupExampleInput2{
    width: 600px; 
    height: 200px;
}
#formGroupExampleInput{
    width: 600px
}
.parent{

 height: 800px;
}
.gap{
    width: 95px;
    display: inline-block;
}