.complaints {
    width: 50px;
}
#formGroupExampleInput2{
    width: 600px; 
    height: 200px;
}
#formGroupExampleInput{
    width: 600px;
}
.parent{

 height: 800px;
}

.left, .right{
    
    height: 700px;

}



.logo{
    margin-top: 50px;
}

.footer{
    height: 130px;
 
    
}
